<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="methods" thread-count="2">
<listeners>
<listener class-name="com.Sindhu.ReuseablePackage.ListenersImplementation"></listener>
</listeners>
  <test name="Test">
    <classes>
      <class name="com.Sindhu.TestCases.LoginPage"/>
      <class name="com.Sindhu.TestBase.TestBase"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
